*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.login-layout{
    display: flex;
    width:100%;
    border: 1px solid blue;
    height: 300px;

    background: url("../image/abstract-background.jpg")
}

#login-button-layout{
    width: 30%;
    height: 80%;
    margin-left: 5%;
    margin-top: 2%;
    border-radius: 20px;
    background-color: aliceblue;
}

.heading{
    position: relative;
    margin: 5%;
    width: fit-content;
}

.description-layout{
    width: 80%;
    height: 80%;
    word-wrap: break-word;
    margin-top: 2%;
    margin-left: 10%;
}

#description{
    font-size: 50px;
}

#description2{
    font-size: 30px;
    color: black;
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px;
}


.login-button{
    position: relative;
    width:100%;
    height:fit-content;
}

.button1{
    display: inline-block;
    width:30%;
    height:50%;
    margin-left: 5%;
}

.button2{
    display: inline-block;
    width:30%;
    height:50%;
    margin-left: 5%;
}

.button{
    border:2px solid black;
    width:100%;
    height:100%;
    border-radius: 10px;
    background-color: transparent ;
    font-size: 24px;
}
