* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-image:url('./components/images/bodyBG.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto;
}

.descBoxStyle {
  border-left: 4px black solid;
  border-right: 4px black solid;
  background-image:url('./components/images/descBG.jpg');
}

.App {
  color: #333;
  text-decoration: none;
}

.container {
  width: 70%;
  border: 4px black solid;
  border-radius: 10px;
}

labelStyle {
  text-emphasis-style: initial;
}

#survey-page-title{
  text-align: center;
  color: white;
  font-size: 40px;
  padding: 10px;
}

#survey-page-content-layout{
  display: flex;
  align-items: center;
  justify-content: center;
}